@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('../fonts/chicken_fajitas.otf');


* {
	font-family: verdana, helvetica;
	font-size: 1em;
	color: #000000;
}


html {
    overflow: hidden;
    height: 100%;
}


body {
	background-color: rgba(61, 157, 255, .5);
	background-image: url('../images/farm_bg2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: auto; 
}

#container {
	width: 90%;
	height: 100%;
	border-radius: 4px;
	margin: 20px auto;
	padding: 0px;
	background-color: rgba(255, 255, 255, .85);
}

header {
	height: 225px;
	width: 100%;
	border-bottom: 1px solid #2a661e;
	margin: 0px;
	padding: 0px;
	background-image: url('../images/simple_farms_banner2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	height: 45px;
	width: 100%;
	margin: 0px;
	padding: 10px;
	background-color: #24a80a;
	border-bottom: 1px solid #2a661e;
}

.row {
	width: 100%;
	min-height: 425px;
	margin: 0px auto;
	padding: 0px;
	background-color: #fff;
}

.product_list {
	float: left;
	min-height: 225px;
	width: 22%;
	border: 1px solid #cccccc;
	margin: 0px 1.5%;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 8px;
}
	
.product_image {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.product_det {
	height: 225px;
	overflow: auto;
	margin: 5px;
	padding: 0px;
	border-radius: 8px;
}

.product_img {
	height: auto;
	width: 100%;
	border: 1px solid #cccccc;
}


table, tr, td {

	border: 1px solid #000000;
	margin: 15px;
	padding: 5px 10px;
	background-color: #ffffff;
}

footer {
	height: 125px;
	width: 100%;
	background-color: #24a80a;
	border-top: 1px solid #2a661e;
}

.signup {
	width: 80%;
	height: 100%;
	border: 1px solid #cccccc;
	border-radius: 6px;
	padding: 1.5%;
	margin: 20px auto; 
}

.new_font {
	font-size: 35px;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
 }

.new_font_2 {
	font-size: 35px;
	text-align: center;
	font-family: chicken fajitas;
 }	
	
	
	
	
	
	
	
	
	
	
	